* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: #020105;
  background-color: #fff;
}

body, html {
  scrollbar-gutter: stable;
}

p, ul, h1, h2, h3, h4, h5, h6, a, button, input, select, span, div, figure {
  margin: 0;
}

.ant-layout {
  background-color: #fff;
}

.ant-select-selection.ant-select-selection--single {
  border: none;
  background: transparent;
}

.ant-select-focused .ant-select-selection {
  box-shadow: none;
}

.ant-select-selection-selected-value {
  @apply text-grey-text;
}

.header-2 .ant-select-selection-selected-value {
  @apply text-orange text-lg;
}

.header-2 .ant-select-arrow svg {
  @apply fill-orange w-4 h-4 -mt-1;
}