* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: #020105;
  background-color: #fff;
}

body, html {
  scrollbar-gutter: stable;
}

p, ul, h1, h2, h3, h4, h5, h6, a, button, input, select, span, div, figure {
  margin: 0;
}

.ant-layout {
  background-color: #fff;
}

#header .ant-select-selection.ant-select-selection--single {
  border: none;
  background: transparent;
}

.ant-select-focused .ant-select-selection {
  box-shadow: none;
}

#header .ant-select-selection-selected-value {
  @apply text-grey-text;
}

.header-2 .ant-select-selection-selected-value {
  @apply !text-orange text-lg;
}

.header-2 .ant-select-arrow svg {
  @apply fill-orange w-4 h-4 -mt-1;
}

#comparing .ant-select-selection, #favourites .ant-select-selection, #brands_name .ant-select-selection  {
  @apply text-xl px-4 py-2 w-[200px] h-[50px] rounded-lg border border-grey-3 bg-grey-2;
}

#comparing .custom-arrow {
  border: 1px solid #EBEBEB;
  top: 0;
}

#comparing .custom-arrow.custom-arrow--left {
  left: 0;
  transform: translate(-50%, 250px);
}

#comparing .custom-arrow.custom-arrow--right {
  right: 0;
  transform: translate(50%, 250px);
}